<%- include("./partials/header.ejs") %>

<div class="ui xyz main text container segment">
	<div class="ui huge header">New Blog</div>
	<form class="ui form" action="/blogs" method="POST">
		<div class="field">
		<lable> Title </lable>
		<input type="text" name="blog[title]" placeholder="title">
		</div>
		<div class="field">
		<lable> Image </lable>
		<input type="text" name="blog[image]" placeholder="image">
		</div>
		<div class="field">
		<lable> Blog content </lable>
		<textarea name="blog[body]"></textarea>
		<input class="ui violet inverted button" type="submit">
	</form>
</div>

<%- include("./partials/footer.ejs") %>
