<html>
<head>
	<title>Blog</title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.0/semantic.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
</head>
<body>
<div class="ui menu fixed inverted">
<div class="ui container">
                        <a class="header item" href="/"><i class="code icon"></i>Blog</a>
                        <a href="/" class="item">Home</a>
                        <a href="/blogs/new" class="item">New Post</a>
</div>
</div>


